.inner {
  display: table;
  margin: 0 auto;
  border: 1px solid black;
}

.outer {
  padding-top: 20px;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

  text-align: center;
  width:70%;
  max-width: 700px;
}
